html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
p {
text-align: left;
margin-right: 20px;
color: white;
}
#container{
    display: block;
}
#footer{
    padding: 5px;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    background-image: linear-gradient(#132B3E, #8BC2F0);
}
#window{
    border: 2px solid black;
    width: 25%;
    margin-left: 100px;
    margin-top: 100px;
}
#content{
    background: #4F7CA2;
    overflow: auto;
    height: 500px;
}
#top{
    display: block;
    background: #132B3E;
    padding-bottom: 60px;
}
#bottom{
    display: block;
    padding-bottom: 16px;
    background: #132B3E;
}
#arrow{
    display: block;
    float: left;
}
#exit{
    display: block;
    float: right;
}
#pLeft{
    display: block;
    float: left;
    margin-top: 2px;
}
#statusP{
    display: block;
    float: left;
}
#thumbPictures{
    background: #8BC2F0;
    display: block;
    float: left;
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
}
#center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#ajaxLoader{
    display: block;
    float: left;
}
#myBody{
    background: url("pics/background1.jpg");
}